{{header}}

package {{namespace}};

// GENERATED IMPORTS START
import java.util.List;
import java.util.ArrayList;
{{#page_types}}
import {{qualified}};
{{/page_types}}
// GENERATED IMPORTS END

// GENERATED CLASS_INTRO START
public class MicrotomePages
{
// GENERATED CLASS_INTRO END

// GENERATED FUNCTIONS START
    public static List<Class<?>> pageClasses () { return PAGE_CLASSES; }
// GENERATED FUNCTIONS END

// GENERATED STATICS START
    protected static final List<Class<?>> PAGE_CLASSES = new ArrayList<Class<?>>();
    static {
    {{#page_types}}
        PAGE_CLASSES.add({{classname}}.class);
    {{/page_types}}
    }
// GENERATED STATICS END

// GENERATED CLASS_OUTRO START
}
// GENERATED CLASS_OUTRO END
