{{header}}

package {{namespace}};

// GENERATED IMPORTS START
{{#class_imports}}
import {{.}};
{{/class_imports}}
// GENERATED IMPORTS END

// GENERATED CLASS_INTRO START
public class {{class_name}} extends {{superclass}}
    implements {{interface_name}}
{
// GENERATED CLASS_INTRO END

// GENERATED CONSTRUCTOR START
    public {{class_name}} (String name) {
        super(name);
        initProps();
    }
// GENERATED CONSTRUCTOR END

// GENERATED PROPS START
    {{#props}}
{{#value_type.is_pageref}}
    public {{value_type.mutable_name}} {{mutable_name}} () { PageRef ref = _{{name}}.value; return (ref != null ? ref.page : null); }
    public {{value_type.name}} {{name}} () { return this.{{mutable_name}}; }
    public void set_{{name}} ({{value_type.name}} val ) { _{{name}}.value = (val != null ? PageRef.fromPage(val) : null); }
{{/value_type.is_pageref}}
{{^value_type.is_pageref}}
{{#value_type.is_mutable}}
    public {{value_type.mutable_name}} {{mutable_name}} () { return _{{name}}.value; }
{{/value_type.is_mutable}}
    public {{value_type.name}} {{name}} () { return _{{name}}.value; }
    public void set_{{name}} ({{value_type.name}} val) { _{{name}}.value = val; }
{{/value_type.is_pageref}}
    {{/props}}

    @Override public java.util.List<Prop> props () {
        java.util.List<Prop> props = super.props();
        {{#props}}props.add(_{{name}});
        {{/props}}
        return props;
    }

    private void initProps () {
        {{#props}}
        _{{name}} = new {{typename}}(this, s_{{name}}Spec);
        {{/props}}
    }
// GENERATED PROPS END

// GENERATED IVARS START
    {{#props}}
    protected {{typename}} _{{name}};
    {{/props}}
// GENERATED IVARS END

// GENERATED STATICS START
    {{#props}}
    protected static final PropSpec s_{{name}}Spec = new PropSpec("{{name}}", {{annotation_text}}, new Class<?>[]{{#value_type}}{ {{#all_typenames}}{{.}}, {{/all_typenames}}}{{/value_type}});
    {{/props}}
// GENERATED STATICS END

// GENERATED CLASS_OUTRO START
}
// GENERATED CLASS_OUTRO END
